.card {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card img {
    max-width: 100px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  